<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Evènements</title>
</head>

<body>
    <header>
        <section class="banner">
            <img src="/annonce.jpg" alt="Les lumières d'Ukraine" (click)="clickAccueil()">
            <div class="userParam">
                <button class="login" *ngIf="!isLoggedIn" (click)="clickLogin()">Se connecter</button>
                <button class="register" *ngIf="!isLoggedIn" (click)="clickRegister()">S'inscrire</button>
                
                <button class="logout" *ngIf="isLoggedIn" (click)="clickLougout()">Se déconnecter</button>
                <button class="userProfile" *ngIf="isLoggedIn" (click)="clickProfil()"><i class="fas fa-user"></i></button>
            </div>
        </section>
    </header>
    <main>
        <section class="link">
            <div class="linkHome">
                <h3>Retourner voir les livres disponible ?</h3>
                <button (click)="clickAccueil()" >Accueil</button>
            </div>
        </section>
        <section class="listEvent">
            <div class="event" *ngFor="let event of resultatsFiltres">
               <img [src]="event.images" alt="Image de l'event" style="width: 200px;">
                <h2>{{event.title}}</h2>
                <p>Description: {{event.description}}</p>
                <p>Langue: {{ translateLanguage(event.language) }}</p>
                <p *ngIf="event.eventStartDate">Début : {{ event.eventStartDate | date:'d MMMM y' }}</p>
                <p *ngIf="event.eventEndDate">Fin : {{ event.eventEndDate | date:'d MMMM y' }}</p>

                <button (click)="reserveEvent(event._id)">M'y inscrire</button>
            </div>
        </section>
        <div class="modal-overlay" *ngIf="popupVisible"></div>
        
        <section class="eventReserved" *ngIf="isReserved">
            <h2>Réservation réussie !</h2>
            <p>Vous avez réservé le livre avec succès. La demande a bien été envoyée au loueur.</p>
            <button (click)="clickCrossDemandReserve()">Fermer</button>
        </section>
        <div class="modal-overlay" *ngIf="lougoutVisible"></div>
        <section class="deconnexion">
            <h2>Souhaitez-vous vous déconnecter ?</h2>
            <div class="validation">
                <button (click)="logout()">Oui</button>
                <button (click)="clickCrossLougout()">Non</button>
            </div>
        </section>
    </main>
</body>