<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poster un livre</title>
</head>

<body>
    <header>
        <div class="banner">
            <img src="/annonce.jpg" alt="Les lumières d'Ukraine" class="logo" />
        </div>
    </header>

    <main>
        <section class="post-container">
            <h2>Poster un livre</h2>
            <form (ngSubmit)="postBook()" #loginForm="ngForm">
                <label for="bookTitle">Titre :</label>
                <input type="text" id="bookTitle" [(ngModel)]="title" name="title" required />

                <label for="commentBody">Description :</label>
                <textarea id="commentBody" [(ngModel)]="description" name="description" required></textarea>

                <label for="genre">Genre :</label>
                <select id="genre" [(ngModel)]="genre" name="genre" required>
                    <option *ngFor="let gen of genres" [value]="gen">{{ translateGenre(gen) }}</option>
                </select>

                <label for="author">Auteur :</label>
                <input type="text" id="author" [(ngModel)]="author" name="author" required />

                <label for="publishedYear">Année de publication :</label>
                <input type="number" id="publishedYear" [(ngModel)]="publishedYear" name="publishedYear" required />

                <label for="language">Langue :</label>
                <select id="language" [(ngModel)]="language" name="language" required>
                    <option *ngFor="let lang of languages" [value]="lang">{{ translateLanguage(lang) }}</option>
                </select>

                <label for="state">État du livre :</label>
                <select id="state" [(ngModel)]="state" name="state" required>
                    <option *ngFor="let et of states" [value]="et">{{ translateState(et) }}</option>
                </select>

                <label>Image face avant :</label>
                <input type="file" accept="image/*" (change)="onImageSelected($event, 'imageCouverture')" />

                <label>Image face arrière :</label>
                <input type="file" accept="image/*" (change)="onImageSelected($event, 'imageBack')" />

                <label>Image intérieure :</label>
                <input type="file" accept="image/*" (change)="onImageSelected($event, 'imageInBook')" />

                <button type="submit">Envoyer</button>
            </form>
        </section>
    </main>
</body>

</html>



