<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Connexion/Inscription</title>
</head>
<body>
    <aside class="menuAside">
        <span>Nom: {{ user?.name }}<br></span>
        <span>Email: {{ user?.email }}<br></span>
        <span>Adresse: {{ user?.address }}<br></span>
        <span>Ville: {{ user?.city }}<br></span>
        <span>Code Postal: {{ user?.postalCode }}<br></span>
        <span>Téléphone: {{ user?.phone }}<br></span>
        <span>Date Création du compte: {{ user?.addedAt | date:'dd/MM/yyyy' }}<br></span>
    </aside>

    <main class="otherpageList">
        <h2>Mon espace personnel</h2>
        <ul>
            <li (click)="clickHistorique()"><i class="fas fa-book"></i> Historique</li>
            <li (click)="clickPoster()"><i class="fas fa-calendar-check"></i>Poster mon livre</li>
            <li><i class="fas fa-book-reader"></i> Livres que je loue</li>
            <li (click)="clickModifier()"><i class="fas fa-user-edit"></i> Modifier mes informations</li>
            <li (click)="clickAccueil()"><i class="fas fa-home"></i> Retour à l'accueil</li>
        </ul>
    </main>
</body>
  