<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Connexion/Inscription</title>
</head>

<body>
    <header>
        <section class="banner">
            <div class="font">
                <i class="fas fa-bars" id="hamburger" (click)="clickMenu()"></i>
                <i class="fas fa-times" id="cross" (click)="crossMenu()"></i>
            </div>
            <img alt="Les lumières d'Ukraine">
            <div class="userParam">
                <button class="logout">Se déconnecter</button>
                <button class="userProfile"><i class="fas fa-user"></i></button>
            </div>
        </section>
        
    </header>
    <aside class="menuAside">
        <section class="category">
            <li><a>Accueil</a></li>
            <li><a>Mes livres</a></li>
            <li><a>Evènements</a></li>
        </section>
    </aside>
    <main>
        <section class="UniqueBook" >
            <h3>Détails du livre:</h3>
            <div class="image">
                <img [src]="imageCouverture" alt="Image du livre de couverture" style="width: 350px;" height="200px">
                <div class="secondaryImage">
                    <img [src]="imageBack" alt="Image du livre" style="width: 150px;" height="100px">
                    <img [src]="imageInBook" alt="Image du livre" style="width: 150px;" height="100px">
                </div>
            </div>
            

            <h2>Titre: {{title}}</h2>
            <p>Appartient à : {{ book?.user?.name || 'Inconnu' }}</p>

            <p>Description: {{description}}</p>
            <p>Genre: {{translateGenre(genre)}}</p>
            <p>Auteur: {{author}}</p>
            <p>Année de publication: {{publishedYear}}</p>
            <p>Langue: {{translateLanguage(language)}}</p>
            <p>Etat: {{translateState(state)}}</p>
            <p>Posté le: {{addedAt | date:'dd/MM/yyyy'}}</p>
            <button>Réserver le livre</button>
        </section>
        <section class="commentsSection">
            <h2 class="commentTitle">Commentaires</h2>
            <div *ngIf="commentList.length === 0" class="noComment">
                <p>Aucun commentaire.</p>     
            </div>
        
            <div class="commentCard" *ngFor="let com of commentList">
                <div class="commentHeader">
                    <span class="commentAuthor">{{ com.user?.name || 'Utilisateur inconnu' }}</span>
                    <span class="commentTitleText">{{ com.title }}</span>
                </div>
                <p class="commentBody">{{ com.comment }}</p>
                
            </div>
            <button class="postButton" (click)="clickComment()">Poster un commentaire</button>
        </section>
        <div class="modal-overlay" *ngIf="popupVisible"></div>
        <section class="postComment">
            <i class="fas fa-times" (click)="clickCrossComment()"></i>
            <h2>Poster un commentaire</h2>
            <form (ngSubmit)="createComment()">
                <label for="commentTitle">Titre:</label>
                <input type="text" id="commentTitle" [(ngModel)]="nouveauComment.title" name="title" required placeholder="Titre...">
                
                
                <label for="commentBody">Commentaire:</label>
                <textarea id="commentBody" [(ngModel)]="nouveauComment.comment" name="comment" required placeholder="Votre commentaire..."></textarea>
                
                <button type="submit">Envoyer</button>
            </form>
        </section>
          
    </main>
    
</body>