
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Connexion/Inscription</title>
</head>

<body>
    <main>
        <section class="connexion">
            <h2>Se connecter:</h2>
            <p>Veuillez entrer les informations requises:</p>
            <form #loginForm="ngForm" (submit)="login()">
                <div class="nameGroup">
                    <h4>Pseudo</h4>
                    <label for="nom"></label>
                    <input class="form-control" id="nom" name="nom" [(ngModel)]="pseudo" />
                </div>
                <div class="passwordGroup">
                    <h4>Mot de passe</h4>
                    <label for="password"><i class="fas fa-lock"></i></label>
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" />
                </div>
                <button type="submit" class="btn btn-primary">
                    Se connecter
                </button>
                <div class="forgotPassword">
                    <a href="#">Mot de passe oublié ?</a>
                </div>
            </form>
            <div class="inscriptionButton">
                
            </div>
        </section>

        