<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Connexion/Inscription</title>
</head>
<body>
    <header>
        <section class="banner">
            <img src="/annonce.jpg" alt="Les lumières d'Ukraine">
            <div class="userParam">
                <button class="login" *ngIf="!isLoggedIn" (click)="clickLogin()">Se connecter</button>
                <button class="register" *ngIf="!isLoggedIn" (click)="clickRegister()">S'inscrire</button>
                
                <button class="logout" *ngIf="isLoggedIn" (click)="clickLogout()">Se déconnecter</button>
                <button class="userProfile" *ngIf="isLoggedIn" (click)="clickProfil()"><i class="fas fa-user"></i></button>
            </div>
        </section>
        
    </header>
    <main>
        <section class="search">
            <input type="text" placeholder="Rechercher un produit" [(ngModel)]="recherche" (input)="rechercheResult()">
            <div class="tri">
                <select [(ngModel)]="selectedDepartement" (change)="filtrerParDepartement()">
                <option value="">Département</option>
                <option *ngFor="let dep of departementList" [value]="dep">
                    {{ dep }}
                </option>
                </select>



                <select name="triDate" id="triDate" [(ngModel)]="date" (change)="filtrerParDate()">
                    <option value="Date">Date</option>
                    <option value="recent">Trier aux plus récents</option>
                    <option value="ancien">Trier aux plus anciens</option>
                </select>
                <select name="triGenre" id="triGenre" [(ngModel)]="genre" (change)="filtrerParGenre()">
                    <option value="Genre">Genre</option>
                    <option *ngFor="let gen of genres" [value]="gen">{{ translateGenre(gen) }}</option>
                </select>
                <select name="triLanguage" id="triLanguage" [(ngModel)]="language" (change)="filtrerParLangue()">
                    <option value="Language">Language</option>
                    <option *ngFor="let lang of languages" [value]="lang">{{ translateLanguage(lang) }}</option>
                </select>
                <select name="triEtat" id="triEtat" [(ngModel)]="state" (change)="filtrerParEtat()">
                    <option value="Etat">Etat</option>
                    <option *ngFor="let et of states" [value]="et">{{ translateState(et) }}</option>
                </select>
            </div>
        </section>
        <section class="link">
            <div class="linkEvent">
                <h3>Vous souhaitez voir les derniers évènements ?</h3>
                <button (click)="clickEvent()">Evènements</button>
            </div>
            <div class="linkPost">
                <h3>Vous souhaitez poster votre livre ?</h3>
                <button>Poster</button>
            </div>
        </section>
        <section class="listBook">
            <div class="book" *ngFor="let book of resultatsFiltres" (click)="clickBook(book._id)">
                <img [src]="book.imageCouverture" alt="Image du livre" style="width: 300px;">

                <h2>{{book.title}}</h2>
                <p>{{book.description}}</p>
                <p>{{book.author}}</p>
            </div>
        </section>
    </main>
    
</body>
