<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <section class="banner">
            <img src="/annonce.jpg" alt="Les lumières d'Ukraine">
            <div class="userParam">
                <button class="login" *ngIf="!isLoggedIn" (click)="clickLogin()">Se connecter</button>
                <button class="register" *ngIf="!isLoggedIn" (click)="clickRegister()">S'inscrire</button>
                <button class="logout" *ngIf="isLoggedIn" (click)="clickLougout()">Se déconnecter</button>
                <button class="userProfile" *ngIf="isLoggedIn" (click)="clickProfil()"><i class="fas fa-user"></i></button>
            </div>
        </section>
    </header>
    <main>
        <section class="search">
            <input type="text" placeholder="Rechercher un produit" [(ngModel)]="recherche" (input)="appliquerFiltres()">
            <input type="text" placeholder="Rechercher par ville" [(ngModel)]="rechercheVille" (input)="appliquerFiltres()" style="margin-left: 15px; width: 220px;">
            <div class="tri">
                <select [(ngModel)]="selectedDepartement" (change)="appliquerFiltres()">
                    <option value="">Département</option>
                    <option *ngFor="let dep of departementList" [value]="dep">
                        {{ dep }}
                    </option>
                </select>
                <select name="triDate" id="triDate" [(ngModel)]="date" (change)="appliquerFiltres()">
                    <option value="Date">Date</option>
                    <option value="recent">Trier aux plus récents</option>
                    <option value="ancien">Trier aux plus anciens</option>
                </select>
                <select name="triGenre" id="triGenre" [(ngModel)]="genre" (change)="appliquerFiltres()">
                    <option value="Genre">Genre</option>
                    <option *ngFor="let gen of genres" [value]="gen">{{ translateGenre(gen) }}</option>
                </select>
                <select name="triLanguage" id="triLanguage" [(ngModel)]="language" (change)="appliquerFiltres()">
                    <option value="Language">Language</option>
                    <option *ngFor="let lang of languages" [value]="lang">{{ translateLanguage(lang) }}</option>
                </select>
                <select name="triEtat" id="triEtat" [(ngModel)]="state" (change)="appliquerFiltres()">
                    <option value="Etat">Etat</option>
                    <option *ngFor="let et of states" [value]="et">{{ translateState(et) }}</option>
                </select>
            </div>
        </section>
        <section class="link">
            <div class="linkEvent">
                <h3>Vous souhaitez voir les derniers évènements ?</h3>
                <button (click)="clickEvent()">Evènements</button>
            </div>
            <div class="linkPost">
                <h3>Vous souhaitez poster votre livre ?</h3>
                <button (click)="clickPoster()">Poster</button>
            </div>
        </section>
        <section class="listBook">
            <div class="book" *ngFor="let book of resultatsFiltres" (click)="clickBook(book._id)">
                <img [src]="book.imageCouverture" alt="Image du livre">
                <h2>{{book.title}}</h2>
                <p>{{book.description}}</p>
                <p>{{book.author}}</p>
            </div>
        </section>
        <div class="modal-overlay" *ngIf="lougoutVisible"></div>
        <section class="deconnexion">
            <h2>Souhaitez-vous vous déconnecter ?</h2>
            <div class="validation">
                <button (click)="logout()">Oui</button>
                <button (click)="clickCrossLougout()">Non</button>
            </div>
        </section>
    </main>
</body>
</html>
